<div class="tarifas-taxi">
  <div class="group-container-1">
    <p class="titulo">Tipos de taxi</p>
    <hr />

    <p class="titulo">Libre</p>
    <hr />
    <p>Banderazo $ 8.74</p>
    <p>Cada 250 metros o 45 segundos $ 1.07</p>
    <hr />
  </div>
  <div class="group-container-2">
    <p class="titulo">Sitio</p>
    <hr />
    <p>Banderazo $ 13.10</p>
    <p>Cada 250 metros o 45 segundos $ 1.30</p>
    <hr />

    <p class="titulo">Radio taxi / Eléctrico</p>
    <hr />
    <p>Banderazo $ 27.30</p>
    <p>Cada 250 metros o 45 segundos $ 1.84</p>
    <hr />
  </div>
  <div class="group-container-3">
    <ion-button (click)="onRegresarHomePage()"
      ><ion-icon slot="start" name="arrow-back-outline"></ion-icon
      >Regresar</ion-button
    >
  </div>
</div>
