/* Ajuste general */
.container {
  width: 100%;
  height: 100vh;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
  .container {
    padding: 30px;
  }
}

// **********
.header-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #d9176e;
}
.header-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "TAXI", "Roboto", "Arial", "Helvetica", "sans-serif";
  //  background-color: #d9176e;
  text-align: center;
}
.title-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #d9176e;
}
.title-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  // font-family: "TAXI", "Roboto";
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
}
.title-text p,
.datetime-text p {
  margin: 5px 0 0 0;
}

.datetime-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 10px;
  width: 95%;
}
.datetime-text {
  color: #d9176e;
  font-size: 20px;
  margin-bottom: 10px;
}

.gps-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid #f00;
  background-color: #242936;
  margin: 0 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  overflow: hidden;
}
// **********
.cost-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border: solid 5px #f00;
  border-radius: 10px;
  background-color: #242936;
}
.cost-text {
  // color: #252525;
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
  // display: inline-block;
  // color: #ffe2d1;
  color: #e01b2e;
  text-shadow: #ffe2d1 1px 0 5px;
  background-color: #242936;
  text-align: center; /* Centrar el texto horizontalmente */
  word-wrap: break-word; /* Permitir que las palabras largas se rompan */
}

// **********
.cost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 10px;
  border: 5px solid red;
  background-color: #242936;
}
.message-container {
  width: 95%;
  padding: 10px 0;
}
.message-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-gps {
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
  margin: 0;
}
.message-diurno {
  padding: 5px;
  border-radius: 15px;
  color: #c50000;
  font-weight: bold;
  margin: 0;
}

// **********

.tarifa-number {
  text-align: left;
  justify-content: center;
  margin-right: 75px;
  font-size: 80px;
}
.costo-number {
  text-align: center;
  font-size: 80px;
}

// **********
.payment-container {
  width: 95%;
  padding: 10px 5px;
}
.payment-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-label-left {
  margin: 20px;
  color: #c50000;
  float: left;
  margin: 0;
  margin-right: auto;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: bold;
  padding-bottom: 2px;
}
.payment-label-right {
  margin: 20px;
  color: #c50000;
  float: right;
  margin: 0;
  margin-left: auto;
  white-space: nowrap;
  padding-left: 10px;
  font-weight: bold;
  padding-bottom: 2px;
}

// **********
ion-button {
  /* Agrega espaciado entre los botones, puedes ajustar el valor según tu preferencia */
  margin: 0 10px;
  height: 48px;
  line-height: 48px;
  width: 120px;
}
.button-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  // margin-top: 5px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  margin-top: 5px;
}
.radio-label-large {
  font-size: 1.2em; /* Ajusta este valor según sea necesario */
  line-height: 1.5; /* Asegura que el texto tenga suficiente espacio vertical */
}

// **********
ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #d9176e;

  height: 34px;
  width: 34px;
}
.radio-border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}
.radio-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.label-radio-title {
  font-weight: bold;
  font-size: large;
  padding: 5px;
  margin: 5px 0;
  width: 95%;
  background-color: #d9176e;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0;
}
.radio-group-inline {
  display: flex;
  flex-direction: column;
  border: 2px solid #d9176e;
  width: 95%;
}
.radio-item ion-radio {
  margin-right: 5px; /* Ajusta el valor según tus preferencias */
}
.radio-item ion-label {
  margin-left: 5px; /* Ajusta el valor según tus preferencias */
}
.radio-text-selected {
  color: #d9176e; /* Cambiar el color del texto al seleccionar */
}

// **********
// .debug-container {
//   padding: 10px;
// }

// **********
.footer-main {
  display: flex;
  justify-content: space-evenly; /* Distribuye los elementos con espaciado alrededor */
  align-items: center; /* Centra los elementos verticalmente en el footer */
  padding: 10px;
  background-color: #d9176e;
  color: #fff;
}

// **********
// @font-face {
//   font-family: "DSDIGI";
//   src: url("../../assets/fonts/DS-DIGI.TTF");
// }
// @font-face {
//   font-family: "TAXI";
//   src: url("../../assets/fonts/TaxiDriver.ttf");
// }
// @font-face {
//   font-family: "DIGITAL";
//   src: url("../../assets/fonts/E1234.ttf");
// }
// @font-face {
//   font-family: "LED";
//   src: url("../../assets/fonts/14-segment-led.regular.ttf");
// }

// ********** orientacion containers
.app-container {
  display: grid;
  gap: 2px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 5px solid yellowgreen;
}

@media screen and (orientation: portrait) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .datetime-container {
    grid-row: 1;
    grid-column: 1;
  }

  .gps-container {
    grid-row: 2;
    grid-column: 1;
  }

  .cost-center-container {
    grid-row: 3;
    grid-column: 1;
  }

  .cost-container {
    grid-row: 4;
    grid-column: 1;
  }

  .button-main {
    grid-row: 5;
    grid-column: 1;
  }

  .radio-border {
    grid-row: 6;
    grid-column: 1;
  }

  // .debug-container {
  //   display: none; /* Opcional: ocultar en portrait */
  // }
}

@media screen and (orientation: landscape) {
  .app-container {
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-template-rows: repeat(5, auto); /* Tres filas */
  }

  .datetime-container {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .gps-container {
    grid-row: 2;
    grid-column: 2;
  }

  .cost-center-container {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .cost-container {
    grid-row: 3;
    grid-column: 2;
  }

  .button-main {
    grid-row: 4;
    grid-column: 1 / span 2;
  }

  .radio-border {
    grid-row: 5;
    grid-column: 1 / span 2;
  }

  // .debug-container {
  //   grid-row: 5;
  //   grid-column: 1 / span 2;
  // }
}
